@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');

input {
    background-color: #1c1e22 !important;
    border: 0 solid rgba(0, 0, 0, .6) !important;
    border-radius: 5px !important;
    color: white !important;
}

body {
    padding-top: 60px;
    color: #aaa;
    background-color: #272b30;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    color: #fff;
    background-color: #3a3f44;
    border: 1px solid #22241d;
}

.navbar-brand {
    font-family: 'Xanh Mono', monospace;
}

.navbar-brand img {
    filter: drop-shadow(1px 1px 3px #1983e6ce);
}

.game {
    transition: all .3s;
    cursor: pointer;
}

.game:hover {
    transform: scale(1.06);
}

.badgeFree {
    background-color: #4799eb;
}

.game {
    background-color: #33383e;
    border-radius: .375rem
}

.gameType {
    background-color: #7a8288;
    padding: 2px .65em;
}

.btn-Browse {
    background-color: transparent;
    border: 1px solid #6c757d;
    width: fit-content;
}

.btn-Browse:hover {
    color: #FFFFFF !important;
    background-color: #6C757D;
}

.loading {
    background-color: #272b30;
}
.a {
    color: #ff7ab5;
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    font-size:2rem;
}
.s {
    color: #c643fb;
    animation: MoveUpDown .5s linear infinite;
    position: relative;
    font-size:2rem;
}
.b {
    color: #ffb650;
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    font-size:2rem;
}
.n {
    color: #2fe2dd;
    animation: MoveUpDown .5s linear infinite;
    position: relative;
    font-size:2rem;
}
@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 100px;
    }
}