.game{
    background-color: #33383e;
}
.badge{
    background-color: #4799eb;
}
.blue{
    color: #49ACFF;
}
.font{
    font-size: 1.25rem;
    font-weight: 300;
}
.BG{
    background-image: url(../../assets/imgs/paladins.b44d33d6e7ee1ba8.png);
    background-repeat: no-repeat;
    background-color: #1c1e22;
    background-position: top;
    background-size: contain;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0,0,0,.6);
    padding: 4rem 2rem;
}